<div class="rekord nonhead">
    <p>{{id}}</p>
    <p>
        <image src="./icons/{{format}}.png"></image>
    </p>
    <p>{{name}}</p>
    <p>{{size}}</p>
    <p>{{type}}</p>
    <p><a href="/delete?id={{id}}">delete</a></p>
    <p><a href="/info?id={{id}}">info</a></p>
    <p><a href="{{download}}" download>download</a></p>
</div>